.carousel-container{
    width: 100%;
    overflow: hidden;
    background-color: rgb(3, 239, 3);
    padding:20px 0;
}

.card{
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins';
    font-weight: bold;
    font-size: x-large;
}


.carousel-track{
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

